/* Sign error*/
.signin-error.ng-enter {
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}

.signin-error.ng-enter {
    opacity: 0;
}

.signin-error.ng-enter.ng-enter-active {
    opacity: 1;
}

/* Navigation buttons */
.btn-navigation.ng-enter, .btn-navigation.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.btn-navigation.ng-enter,
.btn-navigation.ng-leave.ng-leave-active {
    opacity: 0;
}

.btn-navigation.ng-leave,
.btn-navigation.ng-enter.ng-enter-active {
    opacity: 1;
}

/* Pages */
.page-wrap.ng-enter, .page-wrap.ng-leave {
    -webkit-transition: all linear 1s;
    transition: all linear 1s;
}

.page-wrap.ng-enter,
.page-wrap.ng-leave.ng-leave-active {
    opacity: 0;
}

.page-wrap.ng-leave,
.page-wrap.ng-enter.ng-enter-active {
    opacity: 1;
}