/* wrapping */
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.page-wrap {
    min-height: 100%;
    min-width: 600px;
    margin-bottom: -50px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 50px;
}
.site-footer
{
    background-color: #222;
    line-height: 50px;
    text-align: center;
}
.site-footer p
{
    color: #eee;
    display: inline-block;
}

/* styles for header */
h2
{
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* styles for magic ball area */
.magic-ball-area
{
    position: relative;
}

.magic-ball
{
    content: url("../images/ball.png");
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}
.answer-element
{
    position: absolute;
    top: 162px;
    text-align: center;
    color:#FFF;
    font-size:20px;
}

/* styles for question area */
.question-element
{
    display: block;
    margin: 10px auto;
    width: 40%;
}

.answer-element
{
    width: 100%;
}