/* wrapping */
* {
    margin: 0;
}
html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    min-width: 600px;
    padding-top: 50px;
    margin-top: -50px;
    margin-bottom: -50px;
}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 50px;
}
.site-footer
{
    line-height: 50px;
    text-align: center;
}
.site-footer p
{
    color: #222;
    display: inline-block;
}

/* styles for header */
h2
{
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* styles for magic ball area */
.magic-ball-area
{
    position: relative;
}

.magic-ball
{
    content: url("../images/ball.png");
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}
.answer-element
{
    position: absolute;
    top: 162px;
    text-align: center;
    color:#FFF;
    font-size: 16px;
}

/* styles for question area */
.question-element
{
    display: block;
    margin: 10px auto;
    width: 40%;
}

.answer-element
{
    width: 100%;
}

/* styles for navigation area */

.navigation {
    height: 50px;
    min-width: 600px;
    background: lightblue;
}

.btn-color {
    display: inline-block;
    height: 50px;
    padding: 8px 20px;
    color: #333;
    background-color: transparent;
    border: 0;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    transition: color 0.3s ease-out,
    background-color 0.3s ease-out;
}

.btn-color:hover,
.btn-color:active {
    background-color: indigo;
    color: #fff;
    -webkit-transition: color 0.3s ease-in, background-color 0.3s ease-in;
    transition: color 0.3s ease-in,
    background-color 0.3s ease-in;
}

.btn-navigation {
    float: right;
}