<div class="modal-content" ng-init="getLoginInfoByToken()">
    <div class="modal-header">
        <div class="modal-center-element">
            <button type="button" ng-click="cancel()" class="close"><span aria-hidden="true">&times;</span>
            </button>
            <h3>Вход</h3>
            <a href="#/join" ng-click="cancel()">Регистрация</a>
        </div>
    </div>
    <div class="modal-body">
        <input class="form-control modal-input modal-center-element" ng-model="authData.user"
               placeholder="Имя пользователя">
        <input class="form-control modal-input modal-center-element" type="password"
               ng-model="authData.password"
               placeholder="Пароль">
        <button class="btn btn-info modal-center-element" ng-click="pressOk()">Войти</button>
        <div class="alert alert-danger modal-center-element signin-error" role="alert" ng-if="alert.isError"
             ng-bind="alert.text"></div>
    </div>
</div>